<h1>What is your blog??</h1>
<form action = '/blogs' method = 'POST'>
  <h2>Title: <input type = 'text' name = 'title'> </h2>
  <p>Content: <input type = 'text' name = 'content'></p>
  <p>Author: <input type = 'text' name = 'author'></p>
  <input type ='submit'>
</form>